@tailwind base;
@tailwind components;
@tailwind utilities;
.button-main {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}


@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@tailwind base;
@tailwind components;
@tailwind utilities;

.card-header-m {
  @apply text-xl flex-shrink-0 h-10 m-2 flex gap-2 items-center text-gray-600 dark:text-gray-100;
}
.card-paper-m {
  @apply  flex flex-col ;
}
.card-separator-m{
   @apply  mx-1 bg-gray-200 dark:bg-gray-800 h-[1px];
}
#root{
    width: 100%;
}

